ENV=dev
PYTHONPATH=.
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_PORT=5433
DATABASE_NAME=open_ledger_db
DATABASE_ENDPOINT=localhost
TESTCONTAINERS_RYUK_DISABLED=true
# Colima (macOS): unix://${HOME}/.colima/default/docker.sock
# Docker Desktop: unix:///var/run/docker.sock
DOCKER_HOST=unix:///var/run/docker.sock